/Configuration.py
/__pycache__/
/.idea/
*.log
Tools/test.py
Tools/test.py
*.txt
Migration_to_xWiki/__pycache__/Users_association.cpython-36.pyc
*.pyc
*.pyc
*.pyc
CustomModules/__pycache__/SQL_Connector.cpython-36.pyc
CustomModules/__pycache__/Mechanics.cpython-36.pyc
CustomModules/__pycache__/Mechanics.cpython-36.pyc
CustomModules/__pycache__/Mechanics.cpython-36.pyc
CustomModules/__pycache__/SQL_Connector.cpython-36.pyc
CustomModules/__pycache__/SQL_Connector.cpython-36.pyc
*.pyc
*.pyc
Logs/Core_v2.0_2017-11-14_16_30_00_xwiki
Logs/Core_v2.0_2017-11-14_16_27_14_xwiki
Logs/Core_v2.0_2017-11-14_16_29_25_xwiki
CustomModules/__pycache__/SQL_Connector.cpython-36.pyc
CustomModules/__pycache__/SQL_Connector.cpython-36.pyc
CustomModules/__pycache__/SQL_Connector.cpython-36.pyc
*.pyc
*.pyc
