anyjson==0.3.3
certifi==2017.7.27.1
chardet==3.0.4
futures==3.1.1
gevent==1.2.2
greenlet==0.4.12
idna==2.6
mwclient==0.8.6
oauthlib==2.0.6
PythonConfluenceAPI==0.0.1rc6
requests==2.18.4
requests-futures==0.9.7
requests-oauthlib==0.8.0
six==1.11.0
urllib3==1.22
ldap3
future
pyodbc