/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.4206)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [Karma]    Script Date: 10/5/2017 10:13:52 PM ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'Karma')
BEGIN
CREATE DATABASE [Karma]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Karma', FILENAME = N'F:\bases\Karma.mdf' , SIZE = 158912KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Karma_log', FILENAME = N'F:\bases\Karma_log.ldf' , SIZE = 36288KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Karma].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Karma]
GO
